* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    /* Declaro variables CSS con colores principales */
    --color-theme: #00594c;
    --color-active: #5df2d6;
    --color-back-active: #04957d;
    --color-gradient: linear-gradient(to right, var(--color-theme), var(--color-back-active));
 }
body {
    height: 100%;
    width: 100%;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
button, a {
    user-select: none;
    -webkit-user-select: none;
}
header {
        position: fixed;
        top: 0;
        width: 100%;
        background: var(--color-theme);
        background-image: linear-gradient(to right, var(--color-theme),rgb(11,164,136));
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom: solid 3px #5df2d6;
}
nav>ul {
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
nav li {
        flex : 0 0 auto;
}
nav li a {
        display: block ;
        padding: 16px 12px ;
        text-align: center;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
        color: #5df2d6;
}
nav li.current-page a {
        color:  #00594c;
        background-color: #5df2d6;
        pointer-events: none ;
        border-radius:  5px 5px 0px 0px;
}
main {
        margin-top: 120px;
        overflow: auto;
        padding: 16px;
        padding-bottom: 60px;
        height: calc (100% - 120px);
}
h1 {
        text-align: center;
        margin: 20px ;
        color: white ;
}
h1 >img {
        width : 70px ;
        vertical-align: middle ;
}
h2 {
        color: #00594c;;
        margin: 16px 0px;
        text-align: center ;
}
h3 {
        color: #00594c;;
        margin: 8px 0;
}
main section {
        display: flex;
        justify-content: space-around;
}
footer {
        position: fixed;
        bottom: 0px;
        background: #00594c;;
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
}
footer p {
        font-size: small ;
        color: #fff;
}
main p {
         margin-bottom: 16px;
}
/* Media Query: Estilos a aplicar sólo en pantallas mayores a 400px */
@media (min-width: 400px) {
main {
        padding-left: 10%;
        padding-right: 10%;
}
footer {
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: solid 3px #5df2d6;
}
}