#form-city-list {
    display:flex;  
    flex-direction: column;
    padding: 0px 200px;

}

#formulario{
    display:flex;  
    flex-direction: column;
    padding: 0px 200px;
}
.ingresoDatos{
    padding: 8px;
    border-radius: 4px;
    border: 1px solid black;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center ;

}
.boton{
    background-color: #00594c;
    color: #fff;    
    padding: 10px;
    border-radius: 8px;
    border: 0px solid white; 
    margin: 5px;
}
.cartelEmail{
    background-color: #dc3545;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    border: 0px solid white; 
    margin-top: 22px;
}